.top-bar{
    background-color: #44a044;
    color: #ffffff;
    min-height: 70px;
    font-family: 'Indie Flower', cursive;
    margin-top: 15px;
    border-radius: 5px;
}

.icons-nav{
    margin-top: 15px;
}

.icon{
    cursor: pointer;
}

.alert-productos{
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Livvic', sans-serif;
    font-size: 15px;
}