.ver-mas{
    margin-top: 15px;
    border-radius: 15px;
    padding-bottom: 20px;
}
.top-sp{
    margin-top: 15px;
    border-radius: 15px;
}
.left-med{
    margin-left: 4.16%;
}
.btn-primary a{
    color: #ffffff;
}
